nav mat-toolbar
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap: 15px;
    font-size: 15px;
    background-color:maroon;

    
}




mat-toolbar a
{
    text-decoration:none;
}

mat-toolbar a div{
    color:white;
    display:flex;
    align-items:center;
    gap:5px;
   

}