<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <header>
      <nav>
        <mat-toolbar>
          <a routerLink="/home-component" 
          routerLinkActive="active"
          ariaCurrentWhenActive="page">
            <div>Home</div>
          </a>
          <a routerLink="/about-component" 
            routerLinkActive="active" 
            ariaCurrentWhenActive="page">
              <div>About</div>
          </a>
          <a routerLink="/contacts-component"
          >

            <div>Contacts</div>

          </a>
        </mat-toolbar>  
      </nav>
      <router-outlet></router-outlet>
    </header>
    <main>

    </main>
    <footer>

    </footer>
  </body>
</html>